@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 40%;
    padding: 0.55%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill:  rgb(245, 248, 255);
    cursor: pointer;
    background-color: rgb(50, 115, 255);
  }
  
  .arrow--left {
    left: 35px;
  }
  
  .arrow--right {
    left: auto;
    right: 35px;
  }
  
  .arrow--disabled {
    fill: rgb(216, 218, 221);
  }